{{!-- TODO: Add a comment describing the functionality of the conditional --}}
{{!-- If the session.loggedIn is true then this HTML will be rendered --}}
{{#if loggedIn}}
<section class="painting">
  <img src="/images/{{painting.filename}}" alt="{{painting.description}}">
  <div class="painting-details">
    <h3>{{painting.title}}</h3>
    <p>By: {{painting.artist}}</p>
    <p>Exhibition open until: {{ format_date painting.exhibition_date}}</p>
  </div>
</section>
{{!-- TODO: Add a comment describing the else condition below --}}
{{!-- if the session.loggedIn is false then this HTML will be rendered --}}
{{else}}
<a href="/login">You must login first to view this painting</a>
{{/if}}
